.page {
  background-color: #f3f3f3;
}

.page__content {
  width: 1360px;
  height: 40px;
  font-weight: 700;
  padding: 0 40px;
  margin: 0 auto;
  font-family: "CabinetGrotesk";
}

@media screen and (max-width: 600px) {
  .page__content {
    padding: 0 16px;
  }
}
