.modal__content_type_image {
  background-color: #ffffff;
  padding: 0;
}

.modal__image {
  width: 90%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__caption {
  margin-top: 20px;
  margin-left: 32px;
  margin-bottom: 0;
  font-size: 20px;
}

.modal__weather {
  margin-left: 32px;
  margin-bottom: 32px;
  margin-top: 12px;
  font-size: 20px;
}

.item-modal__delete-btn {
  font-family: "Inter";
  font-size: 20px;
  color: #ff4d00;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 32px;
  bottom: 68px;
}

@media screen and (max-width: 990px) {
  .modal__image {
    width: 270px;
    height: 273px;
  }
}

@media screen and (max-width: 600px) {
  .modal__image {
    width: 60%;
  }
}
